libboost-all-dev
scons
libbz2-dev
libopencv-dev
libglu1-mesa-dev freeglut3-dev mesa-common-dev
xterm
graphviz
libeigen3-dev
libarmadillo-dev
r-base
r-cran-catools
r-cran-zoo
mpi
git
vim
htop
libcurlpp-dev
jq
libglfw3
libglfw3-dev
libglew-dev
catch2
ffmpeg
libosmesa6-dev
valgrind
bc
poppler-utils
cmake
python3-pandas
python3-matplotlib
python3-venv
pipx
libyaml-cpp-dev